<%- include('../partials/header.ejs') %>

  <h2><%= dog.dogName %></h2>
  <small> 
    <a href="/owners/<%= dog.owner.id %>">
      <%= dog.owner.name %>    
    </a>
  </small>


  <article>
    <%= dog.body %>
  </article>

  <h4>Dog Admin</h4>

  <div>
    <a href="/dogs/<%= dog.id %>/edit">Edit this Dog</a>
  </div>

  <form method="POST" action="/dogs/<%= dog.id %>?_method=DELETE">
    <button>Delete this pupper... how could you?!</button>
  </form>

<%- include('../partials/footer.ejs') %>