<%- include('../partials/header.ejs') %>

  <h2><%= dog.dogName %></h2>
  <small> 
    <a href="/owners/<%= dog.owner.id %>">
      <%= dog.owner.name %>    
    </a>
  </small>


  <article>
    <%= dog.body %>
  </article>

<!-- -->

<%- include('../partials/footer.ejs') %>