<%- include('../partials/header.ejs') %>

 <h2>Edit <%= owner.name %></h2>

        
<form method="POST" action="/owners/<%= owner.id %>?_method=PUT">
  <fieldset>
    <label for="name">Name:</label>
    <input 
     id="" 
     type="" 
     name="name" 
     placeholder="Enter new Human name"
     value="<%= owner.name %>"
    />
  </fieldset>
  <button>Update Human</button>
</form>

<%- include('../partials/footer.ejs') %>