<%- include('../partials/header.ejs') %>


  <h2><%= owner.name %></h2>

  <form method="POST" action="/owners/<%= owner.id %>?_method=DELETE">
    <button>Delete <%= owner.name %></button>
  </form>


<%- include('../partials/footer.ejs') %>