<%- include('../partials/header.ejs') %>


  <h2><%= owner.name %></h2>
  <h4>Dogs Owned</h4>
    <ul>
    <% for(let i = 0; i < dogs.length; i++) { -%>
      <li>
        <strong>
          <a href="/dogs/<%= dogs[i].id %>"><%= dogs[i].dogName %></a>
        </strong>
      </li>
   	 <% } -%>
  	</ul>
  <div>
    <a href="/owners/<%= owner.id %>/edit">(Edit <%= owner.name %>)</a>
  </div>

  <form method="POST" action="/owners/<%= owner.id %>?_method=DELETE">
    <button>Delete <%= owner.name %></button>
  </form>


<%- include('../partials/footer.ejs') %>